
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Sixter's Pizza</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../1LayoutIndex/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../1LayoutIndex/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../1LayoutIndex/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../1LayoutIndex/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../1LayoutIndex/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../1LayoutIndex/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../1LayoutIndex/assets/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <style>
        #toast-container > .toast-success {
            background-color: #28a745;
        }
    </style>

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        @Html.Partial("_PartialHeader")
        @if (TempData["Content"] != null)
        {
            <script src="/lib/jquery//dist/jquery.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">

                toastr.success('@TempData["Content"]', '@TempData["Title"]');
            </script>
        }
        
        @RenderBody()

      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-0 pt-7 bg-1000">

            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                        <h5 class="lh-lg fw-bold text-white">MENU</h5>
                        @await Component.InvokeAsync("Menu");
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 col-lg-3 mb-3">
                        <h5 class="lh-lg fw-bold text-white">VỀ CHÚNG TÔI</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Giới thiệu</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Tầm nhìn của chúng tôi</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Giá trị cốt lõi</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Vệ Sinh An Toàn Thực Phẩm</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">LIMO</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
                        <h5 class="lh-lg fw-bold text-white">TÌM CỬA HÀNG</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Miền Bắc</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Miền Trung</a></li>
                            <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">Miền Nam</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3 text-center">
                        <h5 class="lh-lg fw-bold text-warning">LIÊN HỆ VỚI SIXTER'S PIZZA</h5>
                        <div class="social-icons d-flex justify-content-center mt-3">
                            <a href="#!" class="me-3"><i class="fab fa-facebook-square fa-2x text-primary"></i></a>
                            <a href="#!" class="me-3"><i class="fab fa-youtube fa-2x text-danger"></i></a>
                            <a href="#!"><i class="fas fa-envelope fa-2x text-danger"></i></a>
                        </div>
                    </div>
                </div>
                <hr class="border border-800" />
                <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                        <p class="text-200 text-center text-md-start">Công ty TNHH Sixter's Pizza UTC | Số 3 Phố Cầu Giấy</p>
                    </div>
                    <div class="col-md-6 order-1">
                        <p class="text-200 text-center text-md-end">
                            Điều khoản & Điều kiện
                            <img src="../1LayoutIndex/images_by_DungNgo/logoBCT.png" alt="" style="width: 20%; height: 20%" />
                        </p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../1LayoutIndex/vendors/@@popperjs/popper.min.js"></script>
    <script src="../1LayoutIndex/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../1LayoutIndex/vendors/is/is.min.js"></script>
    <script src="../1LayoutIndex/vendors/fontawesome/all.min.js"></script>
    <script src="../1LayoutIndex/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
  </body>

</html>