@model IEnumerable<TCategory>
<ul class="list-unstyled mb-md-4 mb-lg-0">
    @foreach (var item in Model){
        <li class="lh-lg"><a class="text-200 text-decoration-none" href="#!">@item.Name</a></li>
    }
</ul>